<!DOCTYPE html>
<html>

<head>
    <link  rel="stylesheet" type="text/css" href="../../node_modules/angular-strap/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link  rel="stylesheet" type="text/css" href="../../node_modules/angular-motion/dist/angular-motion.css"/>
    <link  rel="stylesheet" type="text/css" href="../../node_modules/angular-strap/bower_components/bootstrap-additions/dist/bootstrap-additions.css"/>

</head>
<body>
<div ng-include="'../../node_modules/angular-strap/docs/dev.html'"></div>

<div data-ng-app="myApp" ng-controller="DemoCtrl" data-ng-init="names=['Jani','Hege','Kai']">
    <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">
        Click to toggle modal
        <br>
        <small>(using an object)</small>
    </button>

    <!-- You can use a custom html template with the `data-template` attr -->
    <button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top" data-template-url="aa/temp.html" bs-modal="modal">Custom Modal
        <br>
        <small>(using data-template)</small>
    </button>

    <!-- You can use a custom html template with the `data-template` attr -->
    <button type="button" class="btn btn-lg btn-danger" ng-click="showModal()">Modal
        <br>
        <small>(using service)</small>
    </button>
</div>

<script src="../../node_modules/angular-strap/bower_components/angular/angular.js"></script>
<script src="../../node_modules/angular-strap/bower_components/angular-animate/angular-animate.js"></script>
<script src="../../node_modules/angular-strap/dist/angular-strap.min.js"></script>
<script src="../../node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>

<script language="JavaScript">

    angular.module('myApp', ['ngAnimate', 'mgcrea.ngStrap.modal', 'mgcrea.ngStrap.aside', 'mgcrea.ngStrap.tooltip' ])
            .config(function($modalProvider) {
                angular.extend($modalProvider.defaults, {
                    animation: 'am-flip-x'
               });
            })
            .controller('DemoCtrl', function($scope, $modal) {
        $scope.modal = {
            "title": "Title",
            "content": "Hello Modal<br />This is a multiline message!"
        }

       // var myModal = $modal({title: 'My Title', content: 'My Content', show: false});
       var myOtherModal = $modal({scope: $scope, templateUrl: 'aa/temp.html', show: false});
        $scope.showModal = function() {

            myOtherModal.$promise.then(myOtherModal.show);
        };
    })
    </script>
</body>
</html>